@import "../../styles/basics/_media";
.services {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--space-l);
    position: relative;
    z-index: 2;
    margin-top: var(--space-5xl);
    @include w-max(620px){
      margin-top: var(--space-xl);
    }
  
    &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      align-items: start;
      justify-content: start;
      width: 100%;
      @include w-max(1500px){
        flex-direction: column;
      }
    }
  }
  