@import '../../styles/basics/media';

.portfolio {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);

    p {
        max-width: 544px;
        font-size: var(--font-size-p1-pc-tablet-mobile);
        font-family: var(--font-roboto-regular);
        color: var(--color-grey-main);
        line-height: var(--line-height-standart);

        @include w-max(1000px) {
            font-size: var(--font-size-p2-pc-tablet);

            @include w-max(728px) {
                font-size: var(--font-size-p3-mobile);
            }
        }
    }

    span {
        color: var(--color-accent-main);
        line-height: var(--line-height-standart);
        font-size: inherit;
        position: relative;
        font-family: var(--font-roboto-regular);
    }

    .blur {
        $height: 100%;
        border-radius: 50%;
        position: absolute;
        height: $height;
        width: $height;
        background-color: var(--color-accent-main);
        filter: blur(25px);
        z-index: 1;
        display: inline-block;
    }

    &__content {
        display: flex;
        gap: 7.2vw;

        @include w-max(660px) {
            flex-direction: column;
            gap:94px;
        }

        &_left {
            display: flex;
            flex-direction: column;
            gap: 94px;

            .portfolio__describe {
                display: none;
                @include w-max(660px) {
                    display: block;
                }
            }
        }

        &_right {
            display: flex;
            flex-direction: column;
            gap: 94px;
            .portfolio__describe {
                display: block;
                @include w-max(660px) {
                    display: none;
                }
            }
        }
    }
}

.portfolioItem {
    transform: translateY(30px);
    opacity: 0;
    &__imgWrapper {
        width: 100%;
        border-radius: 14px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--space-m);
        position: relative;

        img {
            width: 100%;
        }
    }

    &__description {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__descriptionText {
        display: flex;
        flex-direction: column;
        width: 100%;

        h3 {
            margin-bottom: var(--space-xs);
            svg{
                margin-left: 12px;
                height: 100%;
                transform: scale(140%);
                @include w-min(1000px){
                    display: none;
                }
            }
        }

        p {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__descriptionYear {
        color: var(--color-accent-main);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        margin-left: 20px;
    }

    &__visit{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26.465%;
        width:33%;
        border-radius: 50%;
        background-color: var(--color-accent-main);
        color: white;
        z-index: 2;
        opacity: 0;
        font-family: var(--font-roboto-regular);
        svg{
            margin-left: 5px;
        }
        @include w-max(1150){
            width: 50%;
            height: 40.1%
        }
    }
}
.portfolioItem:hover{
    img{
        filter:blur(5px);
        transition: all 0.4s;
    }
    h3{
        color: var(--color-accent-main)
    }
    .portfolioItem__visit{
        opacity: 1;
        transition: all 0.3s;
    }
}

.portfolioItem:not(:hover){
    @keyframes portfolioRound {
        0%{
            opacity: 1;
        }
        10%{
            opacity: 0.9;
        }
        20%{
            opacity: 0.8;
        }
        30%{
            opacity: 0.7;
        }
        40%{
            opacity: 0.6;
        }
        50%{
            opacity: 0.5;
        }
        60%{
            opacity: 0.4;
        }
        70%{
            opacity: 0.3;
        }
        80%{
            opacity: 0.2;
        }
        90%{
            opacity: 0.1;
        }
        100%{
            opacity: 0;
        }
    }
    @keyframes portfolioImg{
        0%{
            filter:blur(5px);
        }
        10%{
            filter:blur(4.5px);
        }
        20%{
            filter:blur(4px);
        }
        30%{
            filter:blur(3.5px);
        }
        40%{
            filter:blur(3px);
        }
        50%{
            filter:blur(2.5px);
        }
        60%{
            filter:blur(2px);
        }
        70%{
            filter:blur(1.5px);
        }
        80%{
            filter:blur(1px);
        }
        90%{
            filter:blur(0.5px);
        }
        100%{
            filter:none;
        }
    }
    .portfolioItem__visit{
        animation: portfolioRound 0.3s;
    }
    img{
        animation: portfolioImg 0.3s;
    }
}

.coming-soon {
    h2 {
        text-decoration: none;

        @include w-max(1000px) {
            font-size: var(--font-size-h3-pc-tablet-mobile);
        }
    }

    width: 100%;
    height: 47.2vw;
    max-height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px;
    border-radius: 14px;
    gap: var(--space-xs);
    text-align: center;
    min-height: 320px;
}

a{
    color:inherit;
}
a:active{
    color:inherit;
    .portfolioItem__visit{
        background-color: black;
    }
}
a:visited{
    color:inherit;
}
.animated{
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
}
