@mixin w-max($breakpoint) {
  @media (max-width: ($breakpoint - 1px)) {
    @content;
  }
}

@mixin w-min($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

/* Breakpoints */
$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 1050px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1500px;
