@import './styles/basics/_reset.css';
@import './styles/setup/_colors.css';
@import './styles/setup/_fonts.scss';
@import './styles/setup/_spaces.css';
@import './styles/basics/_media.scss';

#root {
    background-color: var(--color-black-main);
    height: 100%;
}
  
main {
    padding: 0 var(--space-safe);
    max-width: 1240px;
    width: 80%;
    margin: 0 auto;
    color: white;
    @include w-max(500px){
        margin: 0;
        width:100%;
    }
}