   @import '../../styles/basics/media';
   .benefit-wrapper{
        max-width: 509px;
        width: 35.3vw;
        flex-shrink: 1;
        margin-bottom: var(--space-2xl);
        @include w-max(740px){
            width:auto;
            max-width: none;
            margin-bottom: var(--space-ml);
        }
        &__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            font-family: var(--font-roboto-bold);
            margin-bottom: var(--space-s);
            color: var(--white-main);
            width: 80%;
            z-index: 2;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            width: fit-content;
            position: relative;
            color:var(--color-accent-main-transparent);   
            div{
                $height: 100%;
                border-radius: 50%;
                position: absolute;
                height: $height;
                width: $height;
                background-color: var(--color-accent-main);
                filter: blur(25px);
                z-index: 1;
                display: inline-block;
            }
        }
        &__description{
            font-size: var(--font-size-p1-pc-tablet-mobile);
            font-family: var(--font-roboto-regular);
            color: var(--color-grey-main);
            line-height: var(--line-height-standart);
            filter:blur(100%);

            @include w-max(1000px){
                font-size: var(--font-size-p2-pc-tablet);
            };
        }
    }
