@import '../../styles/basics/media';
.benefits{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--space-l);
    position: relative;
    z-index: 2;
    margin-top: var(--space-5xl);
    margin-bottom: var(--space-xl);
    @include w-max(620px) {
        margin-top: var(--space-3xl); 
    }
    &__content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        transform: translateY(50px);
        opacity: 0;
    }
}
.animated{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}
